<h1>Formulaire: </h1>

<div class="m-2">
    <strong class="me-2">Civilité: </strong>

    <input class="form-check-input" name="civiliteRadio" [(ngModel)]="civilite" type="radio" id="mrRadio" value="Mr">
    <label for="mrRadio">Mr</label>

    <input class="form-check-input ms-2" name="civiliteRadio" [(ngModel)]="civilite" type="radio" id="mmeRadio" value="Mme">
    <label for="mmeRadio">Mme</label>

    <br>

    <p class="font-weight-bold mb-0 mt-3">Nom:</p>
    <input [(ngModel)]="nom" type="text" placeholder="Nom" #nomInput="ngModel">

    <p class="font-weight-bold mb-0 mt-3">Prénom:</p>
    <input [(ngModel)]="prenom" type="text" placeholder="Prénom" #prenomInput="ngModel">

    <p [hidden]="!nom && !prenom">Bienvenue {{civilite}} {{prenom}} {{nom | uppercase}}</p>
    
    <p class="font-weight-bold mb-0 mt-3">Age: </p>
    <input [(ngModel)]="age" type="text" placeholder="Age" #ageInput="ngModel">


    <p [hidden]="!age">Ah, je vois que vous êtes <span *ngIf="age>=18 else mineur">majeur</span> puisque vous avez {{age}} ans</p>
    <ng-template #mineur>mineur</ng-template>
</div>